<!-- Modal -->
<div id="myModal" class="modal hidden fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
    <h3 id="myModalLabel">Recortar foto</h3>
  </div>
  <div class="modal-body">
    <div id="image_input"></div>
    <br />
    <img id="image_output" style="display:none"/>
  </div>
  <div class="modal-footer">
    <!-- <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button> -->
    <button class="btn btn-primary" data-dismiss="modal">Guardar</button>
  </div>
</div>