<%
  columns = (defined?(locals) && locals[:columns]) || 3
  dogs = (defined?(locals) && locals[:dogs]) || top_dogs
  rows = (dogs.size.to_f / columns).ceil
%>
<table class="thumbnail_list">
<% rows.times do |r| %>
  <tr>
    <% columns.times do |c| %>
    <td>
      <div>
        <% dog = dogs[r * columns + c] %>
        <% if dog %>
          <%= render 'dogs/thumbnail', locals: { dog: dog } %>
        <% end %>
      </div>
    </td>
    <% end %>
  </div>
  </tr>
<% end %>
</table>