<%
  columns = (defined?(locals) && locals[:columns]) || 3
  dogs = (defined?(locals) && locals[:dogs]) || top_dogs
  rows = (dogs.size.to_f / columns).ceil
%>
<% rows.times do |r| %>
  <div class="row">
    <% columns.times do |c| %>
      <div class="col-sm-6 col-md-4">
        <% dog = dogs[r * columns + c] %>
        <% if dog %>
          <%= render 'dogs/thumbnail', locals: { dog: dog } %>
        <% end %>
      </div>
    <% end %>
  </div>
  <br />
<% end %>
