<h1>Actualizar a <%= @dog.name %></h1>
<%= link_to 'Eliminar', @dog, method: :delete, data: { confirm: 'Eliminar?' }, class: "delte_link" %>

<%= render 'form' %>

<%#= link_to 'Show', @dog %>
<%#= link_to 'Back', dogs_path %>
