
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$primary-color: #6E8D3D;
$action-color: #1111FF;
$warning-color: #FF0000;

@import 'layout';




h1 {
  color: $primary-color;
  border-bottom: dashed $primary-color 1px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
  height: 40px;
  letter-spacing: -1px;
  line-height: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
} 


h5 {
  margin: 0px;
}




.hidden {
  display: none;
}

