// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




/* ARTICLE */

#article {
  /*width: 900px;*/
  img {
    float: right;
    margin: 0px 10px 0px 10px;
  }
}


.search {
  table, th, td, tr {
    /*border: solid red 1px;*/
  }
  th, td {
    /*padding: 5px;*/
    /*height: 45px;*/
  }
  th {
    text-align: right;
  }
}