<div id="footer-content">
    <h2>Volutpat quisque sed et aliquam</h2>
    <p><strong>Maecenas ut ante</strong> eu velit laoreet tempor accumsan vitae nibh. Aenean commodo, tortor eu porta convolutpat elementum. Proin fermentum molestie erat eget vehicula. Aenean eget tellus mi. Fusce scelerisque odio quis ante bibendum sollicitudin. Suspendisse potenti. Vivamus quam odio, facilisis at ultrices nec, sollicitudin ac risus. Donec ut odio ipsum, sed tincidunt. <a href="#">Learn more&#8230;</a></p>
</div>
<div id="footer">
  <p> &copy; 2014 pga.herokuapps.com. Design by <a href="#">Evelyn Segredo</a> and <a href="#">Diego Piriz</a>.</p>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
